* {
    margin: 0;
    padding: 0;
}
:root {
    --first-color:#222;
    --second-color:#fff;
    --third-color:#111;
    --fourth-color:#000;
    --fifth-color: #3f3fac;
    --six-color: #6666ec;
    --sev-col:#fff
}
.dark-theme {
    --first-color:#eee;
    --second-color:#222;
    --third-color:#ccc;
    --fourth-color:#ddd;
    --fifth-color: #222;
    --six-color:#111;
    --sev-col:#000


}
body {
    background-color: var(--first-color);
    color: var(--second-color);
    font-family:cursive
    
}
.crud {
    width: 80%;
    margin: auto;
}
.header {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}
.header p {
    font-size: 18px;
    word-spacing: 5px;
}
.hold div {
    width: 30px;
}

.hold img {
    width: 100%;
}
/* inputs */
input {
    width: 100%;
    height: 30px;
    background-color: var(--third-color);
    margin: 4px 0;
    outline: none;
    border: none;
    border-radius: 4px;
    color: var(--sev-col);
    padding: 4px;
    transition: .3s;

    
}
input:focus {
    background-color: var(--fourth-color);
    transform: scale(1.02);
}
.prices input {
    width: 20%;
}
#total {
    /* background-color: #a00d02; */
    border-radius: 2px;
    padding: 5px 2px;
    color: #000;
    font-size: 17;
    text-transform: capitalize;
}
#total::before {
    content: "total: ";
}
button {
    width: 100%;
    background-color: var(--fifth-color);
    border: none;
    height: 30px;
    cursor: pointer;
    color: #fff;
    border-radius: 20px;
    transition: .5s;
    text-transform: capitalize;
}
button:hover {
    background-color: var(--six-color);
    letter-spacing: .5px;
   
}
#deleteAll {
    margin: 10px 0;
    display: none;
}

/* outputs */
#btnsearch {
    display: flex;
    justify-content: space-between;
}
#btnsearch button {
    width: 45%;
}
table {
    width: 100%;
    text-align: center;
    margin:10px 0 ;
}

@media (max-width:750px) {
    th {
display: none;    } 
     .table td {
display: block;   
border: none;}

.table table {
    text-align:start

}
td:first-child {
    padding-top: 2rem;
}
td:last-child {
    padding-bottom: 2rem;
    border-bottom: 1px solid white;
}
td::before {
    /* content: "id"; */
    font-weight: 700;
    text-transform: capitalize;
}

td:nth-of-type(1)::before {
    content: "id : ";
}
td:nth-of-type(2)::before {
    content: "title : ";
}
td:nth-of-type(3)::before {
     content: "price : "; 
} 
td:nth-of-type(4)::before {
     content: "taxes : "; 
} 
td:nth-of-type(5)::before {
     content: "ads : "; 
} 
td:nth-of-type(6)::before {
     content: "discount : "; 
} 
td:nth-of-type(7)::before {
     content: "category : "; 
} 
td:nth-of-type(8)::before {
    content: "total : "; 
} 



}
table th {
    text-transform: capitalize;

}
table td,th {
    padding: 5px;
    border-bottom: 1px solid var(--sev-col);
    border-left:1px solid var(--sev-col);
}